---
export interface Props {
  title: string;
  value: string;
  id?: string;
}

const { title, value, id } = Astro.props;
---

<div class="glass-card p-5">
  <h3 class="text-gold mb-2 text-lg">{title}</h3>
  <div class="text-3xl font-bold text-green-500" id={id}>{value}</div>
</div>
